<div class="container d-flex align-items-center flex-column ">
  <h1 class = "p-4">To do list:</h1>
  <ul class="list-unstyled">
    <% @tasks.each do | task| %>
      <div class="d-flex align-items-center task">
        <% if task.completed %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task), class: 'text-dark text-decoration-none' %>
        <%= link_to task_path(task), data: { turbo_method: 'delete' , turbo_confirm: "Are you sure?" }, class: 'text-dark' do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
    <% end %>
  </ul>
  <%= link_to new_task_path, class: 'btn btn-primary' do %>
    <i class="fa-solid fa-plus"></i> Add task
  <% end %>
</div>
